{% if user.is_authenticated %}
    {% for post in page_obj %}
        <div id="post-{{ post.id }}" class="card my-3 mx-5" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'profile' user_id=post.user.id %}">@{{ post.user }}</a>
                </h5>

                <img src="{{ post.user.profile_image_url }}" alt="Profile Image" class="rounded-circle" width="40" height="40">


                <p id="post-content-{{ post.id }}" class="card-text">
                    <a href="{% url 'postComment' post.id %}" class="post-link" data-post-id="{{ post.id }}">{{ post.content }}</a>
                </p>
                
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid mt-3" />
                {% endif %}
                <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>


                

                

                {% if post.user != user %}
                <div class="like-container">
                    {% if post.id in postYouLike %}
                        <button id="like-button-{{ post.id }}" data-liked="true" onclick="likeHandler({{ post.id }})" class="btn btn-danger like-button" type="button">
                            <i class="bi bi-hand-thumbs-down"></i> Dislike
                        </button>
                    {% else %}
                        <button id="like-button-{{ post.id }}" data-liked="false" onclick="likeHandler({{ post.id }})" class="btn btn-primary like-button" type="button">
                            <i class="bi bi-hand-thumbs-up"></i> Like
                        </button>
                    {% endif %}
                    <span id="like-count-{{ post.id }}" class="like-count">{{ post.like_count }}</span>
                </div>
                {% endif %}
            </div>

            {% if is_owner %}
                <div class="card-footer text-muted d-flex justify-content-between">
                    <!-- Botón de edición con clase btn-sm si es propietario -->
                    <button type="button" class="btn btn-warning btn-sm open-modal-btn" data-post-id="{{ post.id }}">
                        Edit Post
                    </button>
                    
                    <!-- Botón de eliminación con clase btn-sm si es propietario -->
                    {% if post.user == user %}
                    <form method="post" action="{% url 'delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete Post</button>
                    </form>
                    {% endif %}
                </div>
                {% else %}
                <div class="d-flex justify-content-around">
                    {% if post.user == user %}
                        <button type="button" class="btn btn-secondary open-modal-btn" data-post-id="{{ post.id }}">
                            Edit Post
                        </button>
                    {% endif %}
                </div>


            {% endif %}

            
        </div>
        
        

        
    {% endfor %}
{% else %}
    <h1>You must be logged in to see this page.</h1>
{% endif %}
</div>